
/* start Css coding */
:root {
  --asli: green;
  --secondd: gold;
}
@font-face {
  font-family: "testi";
  src: url("c:\WINDOWS\FONTS\BERNHC.TTF");
}
/* for all of things */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family:testi;
}

.material-symbols-outlined {
  font-size: 65px;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.sec {
  background-color: #750000;
  display: inline-block;
}
.nv li a {
  text-decoration: none;
  color: black;
}
.nv li {
  display: inline;
  padding: 12px;
  margin: 0px;
  padding: 0px;
}
.nv {
  background-color: rgb(0, 255, 55);
}
.menu {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.menu > li {
  display: flex;
  background-color: rgb(149, 247, 13);
  padding: 10px;
  margin: 20px;
  width: auto;
  height: 90px;
  line-height: 75px;
  text-align: center;
}
.menu li a:hover {
  color: red;
  background-color: gold;
  border-bottom: 3px dashed green;
}
.menu li a:active {
  background-color: red;
}

.sub_menu li {
  display: none;
  display: flexbox;
  position: absolute;
}
.hm {
  position: relative;
}
.sub_menu {
  position: absolute;
}
.hm:hover {
  .sub_menu li {
    display: block;
    background-color: var(--secondd);
    width: 110px;
    position: relative;
    cursor: cell;
  }
}
.container {
  background: red;
  max-width: 620px;
  height: 200px;
  margin: 80px;
  padding: 30px;
}
.container > div {
  background-color: yellowgreen;
  margin: 2px;
  text-align: center;
  display: inline;
}
/* media query for responsive web */
@media screen and (max-width: 600px) {
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.32%;
  }
  .col-xs-11 {
    width: 91.65%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.32%;
  }
  .col-s-11 {
    width: 91.65%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.32%;
  }
  .col-m-11 {
    width: 91.65%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-1 {
    width: 8.33%;
  }
  .col-l-2 {
    width: 16.66%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-5 {
    width: 41.66%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.32%;
  }
  .col-l-11 {
    width: 91.65%;
  }
  .col-l-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.32%;
  }
  .col-xl-11 {
    width: 91.65%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
/* learn animation and transitions */
.box {
  background-color: rgb(255, 0, 0);
  height: 1000px;
  position: relative;
}

.target {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #be0404;
  height: 100px;
  width: 100px;
  border-radius: 500px 200px 300px 400px;
  transition: all;
  transition: ease;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: skew(20deg);
}
/* end Css at this moment */